:root {
    --darkPrimaryColor: #000;
    /* #303F9F; */
    --primaryColor: #212121;
    /* #3F51B5; */
    --primaryColorLight: #C5CAE9;
    --primaryColorText: #FFFFFF;
    --accentColor: #FF9800;
    --accentColorLight: #ffc400;
    --primaryTextColor: #212121;
    --secondaryTextColor: #757575;
    --dividerColor: #BDBDBD;
}

/*-------------------------------
    ICONOS
--------------------------------*/

/*----------------------------------
    ESTILOS
----------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}

html {
    min-height: 100%;
}

.error {
    padding: 1rem;
    color: red;
}

body {
    min-width: 250px;
    min-height: 100vh;
    width: 100%;
    max-width: 1920px;
    margin: auto;

    display: flex;
    flex-direction: column;

    background: rgba(0, 0, 0, 0.8);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--primaryColor);

    color: var(--primaryColorText);
    text-align: center;
    min-height: 10vh;
    position: relative;
}

header .btn {
    margin-right: 2rem;
}

nav {
    padding: 0 1rem;
    color: #FFFFFF;
    text-align: center;
    border-bottom: 2px solid var(--dividerColor);
}

nav * {
    margin: 1rem;
    font-size: 1.25rem;
}

nav input {
    padding: 0 1rem;
}

nav button {
    color: #FFFFFF;
    background: none;
    border: none;
    margin: 1rem 3rem;
    min-width: 8rem;
}

main {
    padding-bottom: 2rem;
    flex: 1;
}

header h1 a {
    font-size: 2rem;
    color: var(--primaryColorText);
    text-decoration: none;
}

.mdi-light.btn {
    opacity: 0.8;
}

.mdi-light.btn:hover {
    transform: scale(1.2);
    opacity: 1;
}

#user_menu {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 10vh;
    z-index: 10;
    background: #212121;
}

.hidden {
    display: none;
}

#user_menu li {
    list-style: none;
    text-align: left;
    border-bottom: 1px solid gray;
    padding: 1rem 4rem 1rem 1rem;
}

#user_menu li:hover {
    background: #757575;
}


#user_menu li a {
    text-decoration: none;
    color: white;
    line-height: 24px;
    font-size: 18px;
}

.btn {
    border: 1px solid var(--dividerColor);
    border-radius: 2px;
}
.btn:hover {
    border: 1px solid var(--dividerColor);
    border-radius: 2px;
}

footer {
    width: 100%;
    padding: 1rem;
    color: var(--primaryColorText);
    background: var(--primaryColor);

    display: flex;    
}

footer div {
    flex: 1 1;
    align-self: center;
    text-align: center;
    /* border: 1px solid red; */
}

footer div ul {
    list-style: none;
}

footer div ul li {    
    padding: 0.25rem;
}

footer div ul li a {
    cursor: pointer;
}

.icon {
    opacity: 0.8;
    font-size: 30px;
    padding: 6px; 
    cursor: pointer;   
}

.icon:hover{
    opacity: 1;
    border: 1px solid var(--dividerColor);
    border-radius: 2px;
    transform: scale(1.2);
}

/*-------------------------------------------- 
    PELÍCULAS
--------------------------------------------*/
main div h2 {
    margin: 1rem;
    /* border-top: 5px solid var(--darkPrimaryColor); */

    color: var(--primaryColorText);
    /* background: var(--primaryColor); */
}

main .movies {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.movie {
    width: 100%;
    position: relative;
}

.movie figure {
    height: 40vh;
    margin: auto;
    width: 100%;
    /* background-color: var(--secondaryTextColor); */
}

.movie img {
    width: 100%;

    height: inherit;
    object-fit: cover;
    object-position: center;

    cursor: pointer;
}

.movie:hover {
    transform: scale(1.05, 1.05);
    z-index: 5;
}

.movie:hover .movieInfo {
    display: block;
}

.movieInfo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    width: inherit;
    height: 100%;

    background: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.views {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    height: 3rem;
    width: 3rem;

    background-color: #212121;
}

.movieInfo button {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    height: 2rem;
    width: 5rem;

    cursor: pointer;
}

/*-----------------------------------------------
    DESCRIPCIÓN PELÍCULA
--------------------------------------------------*/
.description {
    margin: 1rem 10%;
    width: 80%;
    position: relative;
    border: 1px solid var(--primaryTextColor);
    min-height: 30vh;
}

.description img {
    float: left;
    max-height: 25vh;
    margin: 1rem;
}

.description h2 {
    color: #FFFFFF;
    padding: 1rem 0 0 1rem;
    font-size: 2rem;
}

.description span {
    color: rgba(255, 255, 255);
    margin-left: 1rem;
    font-size: 24px;
    padding: 6px;
    cursor: pointer;
}

.description em {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    padding: 6px;
}

.description p {
    padding: 1rem;
    text-align: justify;
    color: rgba(255, 255, 255, 0.8);
}

/* .description button {
    float: right;
} */

.description div {
    text-align: center;
}

/*-----------------------------------
    VIDEO PLAYER
--------------------------------------*/
.videoWrapper {
    position: relative;
    padding-bottom: 45%;
    /* 16:9  56.25%*/

    height: 0;
    width: 80%;
    margin: 1rem auto;

    box-shadow: 3px 3px 5px #000;
    border-radius: 5px;
}

.videoPlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: 5px;
    background: #000;
}

/*-------------------------------------
    FORMULARIO LOGIN
---------------------------------------*/
.login {
    width: 40%;
    margin: 10vh auto 1em auto;
    /*padding: 20px 0;   */

    border: 1px solid var(--secondary-dark-color);
    border-radius: 5px;
    background: var(--primaryColorText);
    box-shadow: 1px 1px 5px var(--primaryTextColor);
    text-align: center;
}

.login div {
    width: 60%;
    margin: auto;
    padding-top: 20px;
    font-weight: bold;
}

div label {
    display: block;
    width: 100%;
    text-align: left;
    color: var(--darkPrimaryColor);
}

.btn_upload {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--darkPrimaryColor);
    color: var(--primaryColorText);
    box-shadow: 1px 0 var(--primaryTextColor),
        -1px 0 var(--primaryColorLight),
        0 1px var(--primaryTextColor),
        0 -1px var(--primaryColorLight);

    border-radius: 4px;
    cursor: pointer;
}

.btn_upload:active,
.btn_upload:hover {
    background: var(--primaryColor);
}

div input {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 0.2rem;

    border: none;
    border-bottom: 2px solid var(--primaryColor);

    font-size: 1.2rem;
    transition: all ease 0.5s;
    cursor: pointer;
}

div input:focus {
    color: var(--primaryTextColor);
    border-bottom: 2px solid var(--accentColor);
    margin: 10px auto;
    padding: 10px 0.6rem;
}

.login input[type="file"] {
    display: none;
}

.login button {
    background: var(--accentColor);
    color: var(--primaryTextColor);

    padding: 5px 10px;
    margin: 2em auto;
    font-size: 1.2rem;
    border-radius: 4px;

    cursor: pointer;
}

.login button:hover,
.login button:active {
    background: var(--accentColorLight);
}

/*-----------------------------------------
    MODAL
------------------------------------------*/
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: var(--primaryColorText);
    margin: 25vh auto;
    width: 40%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
        0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modal_open;
    animation-duration: 1s;
}

.modal-header {
    padding: 1rem 1rem;
    color: var(--primaryTextColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    font-size: 1.2rem;
}

.modal-body {
    padding: 0.5rem 1.5rem;
    min-height: 4rem;
    color: var(--primaryTextColor);
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    vertical-align: center;
    padding: 1rem 1rem;
}

.close-btn {
    color: #212121;
    font-size: 2rem;
}

.close-btn:hover,
.close-btn:active {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal button {
    border: none;
    background: none;
    padding: 0.2rem 1rem;
    color: var(--darkPrimaryColor);
    font-weight: bold;
    font-size: 1.2rem;
}

.modal button:hover,
.modal button:active {
    color: var(--accentColor);
}

@keyframes modal_open {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/*------------------------------------------
    RESPONSIVE
------------------------------------------*/
@media only screen and (max-width: 1200px) {

    main .movies {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (max-width: 960px) {
    .login {
        width: 80%;
    }

    main .movies {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 780px) {
    main .movies {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .login {
        width: 99%;
        margin: 1rem auto;
    }

    main .movies {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 0;
    }

    .modal-content {
        width: 80%;
    }

    .login div {
        width: 80%;
    }

    .videoWrapper {
        width: 100%;
        padding-bottom: 56.25%;
    }
}

@media only screen and (max-width: 480px) {

    main .movies {
        grid-template-columns: repeat(2, 1fr);
    }
}